h1 {
	text-align: center;
}

h2 {
	text-align: right;
	background-color: pink;
	border: 3px solid black;

}

h3{
	text-align: right;
	color: white;
	background-color:  #ae4141 ;
	border: 3px solid black;
}


h4{
	text-align: right;
	color: solid black;
	background-color:  #e7d7c9 ;
	border: 3px solid black;
}

div{
	background-color: gray;
}
