body {
  font-size: 16px;
  color: #000000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #cf240a;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 10px;
  height: 80px;
}

.navbar-brand h1 { /* Restaurant name */
  padding-top: 10px;
  font-size: 3vw; /* 1vw = 1% of viewport width */
  font-family: 'Lora', serif;
  color: #fff10a;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* Main content*/
#Ourmenu-tile span {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  color: #000000;
}
#Textoplano {
  height: 1000px;
  width: 100%;
  background-color: #808080; 
  margin-bottom: 20px;
  margin-top: : 20px;
  position: relative;
  /*border: 2px solid #000000;*/
}

h1.menu-item-title{
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 20px;
	font-weight: bold;
}

.menu-item-details { /* tipo de letra y tamaño*/
  font-size: 1em;
  padding-left: 15px;
  padding-right: 15px;
}

/* End of main content */
/********** Extra small devices only **********/
@media (max-width: 767px) {
	/* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
}
